{% extends '_layouts/cp' %}

{% do view.registerTranslations('product-feeds', [
	'index.itemsColumn',
	'index.issuesColumn',
	'index.excludedCount',
	'index.sizeColumn',
	'index.lastBuiltColumn',
	'index.nameColumn',
	'index.openFeed',
	'index.platformColumn',
	'index.reorderFailed',
	'index.reordered',
	'index.sourceColumn',
	'index.statusColumn',
	'index.urlColumn',
	'index.buildButton',
]) %}

{% set title = 'nav.productFeeds'|t('product-feeds') %}

{% if craft.app.getIsMultiSite() %}
	{% set crumbs = [{
		id: 'site-crumb',
		icon: 'world',
		label: site.name|t('site'),
		menu: {
			items: siteMenuItems(null, site),
			label: 'Select site'|t('app'),
		},
	}] %}
{% endif %}

{% block actionButton %}
	{% if canEdit and fsConfigured %}
		<a href="{{ url('product-feeds/new', { site: site.handle }) }}" class="btn submit add icon">{{ 'feed.new'|t('product-feeds') }}</a>
	{% endif %}
{% endblock %}

{% block contentNotice %}
	{% if not fsConfigured %}
		<p class="warning has-icon">
			<span class="icon" aria-hidden="true"></span>
			<span class="visually-hidden">{{ 'Warning:'|t('app') }}</span>
			<span>
				{{ 'index.noFilesystem'|t('product-feeds') }}
				<a href="{{ url('settings/plugins/product-feeds') }}">{{ 'index.openSettings'|t('product-feeds') }}</a>
			</span>
		</p>
	{% endif %}
{% endblock %}

{% block content %}
	{% if tableData|length %}
		<div id="feeds-vue-admin-table"></div>
	{% else %}
		<p class="zilch">{{ 'index.noFeeds'|t('product-feeds') }}</p>
	{% endif %}

	{% include 'product-feeds/_includes/plugin-footer' %}
{% endblock %}
